# Auth
AUTH_SECRET=changeme
AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

# Providers
GITHUB_ID=
GITHUB_SECRET=
GITLAB_ID=
GITLAB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
MICROSOFT_ID=
MICROSOFT_SECRET=
EMAIL_SERVER=smtp://user:pass@smtp.example.com:587
EMAIL_FROM=noreply@example.com

# Database
DB_URL=file:local.db
